<style>
</style>

<h1>Catálogo de películas</h1>
<h2>Presupuesto: {{presupuesto}}</h2>

<form ng-submit="crearPelicula()">
<!-- div class="form-group" (quitar br) -->
    <label for="titulo">Título: </label>
    <input type="text" id="titulo" required ng-model="Titulo"> <br>

    <label for="sinopsis">Sinopsis: </label>
    <textarea id="sinopsis" required ng-model="Sinopsis" rows="4" cols="50"></textarea> <br>

    <label for="fechaEstreno">Estreno: </label>
    <input type="date" id="fechaEstreno" required ng-model="FechaEstreno"> <br>
    
    <label for="precio">Precio: </label>
    <input type="number" id="precio" min="0" step="0.01" required ng-model="Precio"> <br>

    <label for="unidades">Unidades: </label>
    <input type="number" id="unidades" min="0" required ng-model="Unidades"> <br>

    <label for="imagen">Imagen: </label>
    <input type="url" id="imagen" required ng-model="Imagen"> <br>

    <label for="generos">Géneros: </label><br>
        <input type="checkbox" id="genero1" name="Generos" ng-model="Generos[0]" value="Accion">
        <label for="genero1"> Acción</label><br>

        <input type="checkbox" id="genero2" name="Generos" ng-model="Generos[1]" value="Aventura">
        <label for="genero2"> Aventura</label><br>

        <input type="checkbox" id="genero3" name="Generos" ng-model="Generos[2]" value="Drama">
        <label for="genero3"> Drama</label><br>
        
        <input type="checkbox" id="genero4" name="Generos" ng-model="Generos[3]" value="Cyberpunk">
        <label for="genero4"> Cyberpunk</label><br>

        <input type="checkbox" id="genero5" name="Generos" ng-model="Generos[4]" value="CienciaFiccion">
        <label for="genero5"> Ciencia Ficción</label><br>

        <input type="checkbox" id="genero6" name="Generos" ng-model="Generos[5]" value="Western">
        <label for="genero6"> Western</label><br>

    <button type="submit">Crear película</button>
</form>

<div ng-repeat="pelicula in model.peliculas">
    <fieldset>
        <legend>{{pelicula.titulo}}</legend>
        <img src="{{pelicula.imagen}}" width="200px">
        <p><b>Precio:</b> {{pelicula.precio}}€</p>
        <p><b>Unidades:</b> {{pelicula.unidades}}   <button ng-click="incrementar(pelicula)">+</button>  <button ng-disabled="pelicula.unidades==0" ng-click="decrementar(pelicula)">-</button>        </p>
        <p><b>Fecha de estreno:</b> {{pelicula.fechaEstreno | date:'dd-MMM-yyyy'}}</p>
        <p><b>Géneros:</b></p>
            <ul ng-repeat="genero in pelicula.generos">
                <li>{{genero}}</li>
            </ul>

        <p><b>Sinopsis:</b> {{pelicula.sinopsis}}</p>
        <button ng-click="addMovie(pelicula);" ng-disabled="pelicula.unidades==0">Añadir a la cesta</button> <button ng-click="eliminarPelicula(pelicula)">Eliminar</button>
    </fieldset>
</div>

<fieldset>

    <legend><h2>Cesta</h2></legend>
    <div ng-repeat="compra in cesta">
        <h3 style="display: inline;">{{compra.titulo}} </h3> <button ng-click="borrarDeCesta(compra)">Borrar de la cesta</button>    
        <h4>{{compra.cantidad}} x {{compra.precio}}</h4>
    </div>
    <h3>Total: {{total}}€</h3>
    
    <button ng-click="pagar()">Pagar</button>
    <button ng-click="vaciarCesta()">Vaciar cesta</button>

</fieldset>

